In [ ]:
import pandas as pd
df = pd.read_csv('HydroWASTE_v10.csv', encoding = 'unicode_escape', engine ='python') 
df.shape

(58502, 25)

In [ ]:
df.head(3)

,WASTE_ID,SOURCE,ORG_ID,WWTP_NAME,COUNTRY,CNTRY_ISO,LAT_WWTP,LON_WWTP,QUAL_LOC,LAT_OUT,...,QUAL_WASTE,LEVEL,QUAL_LEVEL,DF,HYRIV_ID,RIVER_DIS,COAST_10KM,COAST_50KM,DESIGN_CAP,QUAL_CAP
0,1,1,1140441,Akmenes aglomeracija,Lithuania,LTU,56.247,22.726,2,56.223,...,4,Advanced,1,2421.974,20228874.0,4.153,0,0,4600.0,2
1,2,1,1140443,Alytaus m aglomeracija,Lithuania,LTU,54.432,24.056,2,54.519,...,1,Advanced,1,2534.527,20261585.0,257.983,0,0,220000.0,2
2,3,1,1140445,Anyksciu aglomeracija,Lithuania,LTU,55.509,25.073,2,55.452,...,1,Advanced,1,1367.809,20243105.0,30.995,0,0,33000.0,2

In [ ]:
df.dtypes

WASTE_ID        int64
SOURCE          int64
ORG_ID          int64
WWTP_NAME      object
COUNTRY        object
CNTRY_ISO      object
LAT_WWTP      float64
LON_WWTP      float64
QUAL_LOC        int64
LAT_OUT       float64
LON_OUT       float64
STATUS         object
POP_SERVED      int64
QUAL_POP        int64
WASTE_DIS     float64
QUAL_WASTE      int64
LEVEL          object
QUAL_LEVEL      int64
DF            float64
HYRIV_ID      float64
RIVER_DIS     float64
COAST_10KM      int64
COAST_50KM      int64
DESIGN_CAP    float64
QUAL_CAP        int64
dtype: object

In [ ]:
def minMax(x):
    return pd.Series(index=['min','max'],data=[x.min(),x.max()])
min_max = df.select_dtypes(include =['int64','float64']).apply(minMax)
print(min_max)

     WASTE_ID  SOURCE       ORG_ID  LAT_WWTP  LON_WWTP  QUAL_LOC  LAT_OUT  \
min         1       1            1   -54.788  -175.302         1  -54.798
max     58502      12  78000001002    71.640   178.482         4   71.644

     LON_OUT  POP_SERVED  QUAL_POP    WASTE_DIS  QUAL_WASTE  QUAL_LEVEL  \
min -175.302           0         1        0.000           1           1
max  178.427    10146131         4  3073754.382           4           2

              DF    HYRIV_ID   RIVER_DIS  COAST_10KM  COAST_50KM  DESIGN_CAP  \
min          1.0  10000009.0       0.001           0           0         0.0
max  702936577.0  80323236.0  127105.248           1           1  11206250.0

     QUAL_CAP
min         1
max         3

In [ ]:
# the unique values in the SOURCE column
df.SOURCE.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [ ]:
# the occurrences for each distinct values in the SOURCE column
df.SOURCE.value_counts().sort_index()

1     24971
2     14819
3      2820
4      2540
5      2486
6      2064
7      1234
8       964
9       816
10      317
11      184
12     5287
Name: SOURCE, dtype: int64

## WASTE_ID

In [ ]:
len(df.WASTE_ID.unique())

58502

# 2

In [ ]:
len(df.SOURCE.unique())

12

#3

In [ ]:
len(df.ORG_ID.unique())

47496

In [ ]:
counts = df.ORG_ID.value_counts()
counts[counts>1].sort_index()

1       8
2       8
3       8
4       8
5       8
       ..
4557    2
4558    2
4559    2
4561    2
4562    2
Name: ORG_ID, Length: 3912, dtype: int64

# WWTP_NAME

In [ ]:
len(df.WWTP_NAME.unique())

49261

In [ ]:
counts = df.WWTP_NAME.value_counts()
counts[counts>1].sort_index()

                           3
ADAMS WWTP                 2
ADRIAN WWTP                2
ADVANCE WWTP               2
AINSWORTH WWTP             2
                          ..
mechaniczno biologiczna    2
oczyszczalnia              2
station epuration          3
usine epuration            2
zarnowiec                  2
Name: WWTP_NAME, Length: 1044, dtype: int64

# COUNTRY

In [ ]:
len(df.COUNTRY.unique())

188

#CNTRY_ISO

In [ ]:
len(df.CNTRY_ISO.unique())

180

In [ ]:
counts = df.CNTRY_ISO.value_counts()
counts[counts>1].sort_index()

ABW      3
AFG      5
AGO      8
ALB      6
ARE     34
      ...
XKX      6
YEM      2
ZAF    964
ZMB     13
ZWE     42
Name: CNTRY_ISO, Length: 162, dtype: int64

In [ ]:
df.loc[df.duplicated(subset=['CNTRY_ISO'])]

,WASTE_ID,SOURCE,ORG_ID,WWTP_NAME,COUNTRY,CNTRY_ISO,LAT_WWTP,LON_WWTP,QUAL_LOC,LAT_OUT,...,QUAL_WASTE,LEVEL,QUAL_LEVEL,DF,HYRIV_ID,RIVER_DIS,COAST_10KM,COAST_50KM,DESIGN_CAP,QUAL_CAP
1,2,1,1140443,Alytaus m aglomeracija,Lithuania,LTU,54.432,24.056,2,54.519,...,1,Advanced,1,2534.527,20261585.0,257.983,0,0,220000.0,2
2,3,1,1140445,Anyksciu aglomeracija,Lithuania,LTU,55.509,25.073,2,55.452,...,1,Advanced,1,1367.809,20243105.0,30.995,0,0,33000.0,2
3,4,1,1140447,Ariogalos aglomeracija,Lithuania,LTU,55.252,23.484,2,55.210,...,1,Secondary,1,2061.969,20247446.0,13.799,0,0,4357.0,2
4,5,1,1140449,Baisogalos aglomeracija,Lithuania,LTU,55.644,23.741,2,55.681,...,4,Secondary,1,209.549,20239330.0,0.405,0,0,1490.0,2
5,6,1,1140451,Birstono Prienu aglomeracija,Lithuania,LTU,54.623,24.062,2,54.715,...,1,Advanced,1,10366.240,20256987.0,268.665,0,0,19000.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58497,58498,12,5648,NaN,Russia,RUS,71.640,128.855,1,71.644,...,4,Secondary,2,NaN,30032708.0,NaN,1,1,NaN,3
58498,58499,12,5649,NaN,Kenya,KEN,-0.711,34.823,1,-0.769,...,4,Secondary,2,7.502,11015070.0,4.467,0,1,NaN,3
58499,58500,12,5650,NaN,Turkey,TUR,37.860,27.842,1,37.798,...,4,Secondary,2,156.913,20660889.0,48.421,0,0,NaN,3
58500,58501,12,5651,NaN,Russia,RUS,60.080,29.949,1,60.090,...,4,Secondary,2,NaN,20162898.0,NaN,1,1,NaN,3
58501,58502,12,5652,NaN,Russia,RUS,64.583,39.778,1,64.548,...,4,Secondary,2,NaN,20081557.0,NaN,1,1,NaN,3

# LAT_WWTP

In [ ]:
len(df.LAT_WWTP.unique())

31311

In [ ]:
df.LAT_WWTP.max()

71.64

# QUAL_LOC

In [ ]:
df.QUAL_LOC.unique()

array([2, 3, 4, 1])

In [ ]:
len(df.STATUS.unique())

9